@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

#navbar {
  background-color: black;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}

#logo{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 350px;

}

body{

  background-color: #C4A484;


}

h2{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: black;
}

/* ---------------------------------- */

#logo{
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 350px;

}

#navbar {
 background-color: white;
}

#navbar a {

float: left;
color: brown;
text-align: center;
padding: 10px 10px;
text-decoration: none;
font-size: 15px;
margin: 10px;
overflow: hidden;

}

#navbar a:hover {
background-color: black;
color: white;
}

#topnav a.active {
background-color: white;
color: white;
}

/* ---------------------------------- */



/* ---------------------------------- */

.text-informacio {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  
}

p {
  font-family: 'Muli', sans-serif;
  text-align: justify;
  max-width: 600px;
  margin: 20px;
  line-height: 1.5;

}

/* ---------------------------------- */

#imatge-360 {
  border: 2px black;
  border-radius: 50px 20px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.video-container {
  border: 2px black;
  border-radius: 50px 20px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  
}

/* ---------------------------------- */

.mapa{
  margin-left: 2.5%;
}

/* ---------------------------------- */




/* ---------------------------------- */


/* ---------------------------------- */


#xarxessocials {
  padding: 2.5%;
  
}

#xarxessocials p{
  color: black;
  text-align: center;
}

footer{
  color: white;
  text-align: center;
  background-color: lightcoral;
  }
  
  footer p{
  margin: 0px;
  }
  
.icons img{
  height: 64px;
  width: 64px;
    margin-top: 1%;
  margin-bottom: 1%;
  }

#copyright{
  text-align: center;
  color: black;
  background-color: white;
  padding: 0.2%;
  margin-bottom: 1%;
}

